extends /_includes/_layout.pug

block head_meta
  title #{baseTitle}
  meta(name='description' content=baseDescription)

block prepend css
//- CSSを最後に追加する場合は block append css
//- CSSをパスを変更する場合は block css

block prepend head_script

block content
  - var imgSrc = `${imgPath}/index`
  - var imgWorksSrc = `${imgPath}/works`

  -
    var worksList = [
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      },
      {
        img: 'dummy_01.jpg',
        company: '株式会社カンパニー',
        ttl: 'コーポレートサイト',
      }
    ]

  header.header#siteHeader
    include /_includes/_header

  main.page-home
    .mv__wrapper
      .mv__inner
        .mv
          h2.mv__ttl Hello World.
          p.mv__lead.t-center-up Thank you for visiting my website :)<br>I’m NAOKI working as a WEB Creator.<br class='hidden-xs-down'>I like creating website and interesting thing.

      .mv__scroll-sign
        span.t-italic SCROLL

    article.content-wrapper
      section.home__about
        h2.ttl--border-vertical
          span.en ABOUT
          span.ja わたしについて
        .content-inner
          .home__about__content.row
            .col-md-6.col-12.home__about__content__info
              p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。<br>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
              .btn-container
                a(href='/about/') view more
            .col-md-6.col-12.home__about__content__figure
              figure.shadow-bg-container
                img(src=`${imgSrc}/aboutme.jpg`)

      section.home__works
        h2.ttl--border-vertical
          span.en WORKS
          span.ja 制作実績

        .content-inner
          p.section-lead-txt.t-center-up 非掲載実績をご希望の方は、別途ご対応させていただきます。<br>お問い合わせ、または各種SNSツールよりご連絡いただきますようお願いいたします。

          .home__works-link__wrapper
            ul.works-link__list.row.-inline
              each val in worksList
                li.works-link__item.col-md-3.col-sm-6.col-12
                  a.works-link(href='/works/detail/')
                    .works-link__thumbnail
                      img(src=`${imgWorksSrc}/${val.img}`)
                    .works-link__info
                      span.info-company !{val.company}
                      h4.info-ttl !{val.ttl}

            .btn-container
              a(href='/works/archive') view more

      section.home__contact.bg
        h2.ttl--has-en.t-center
          span.en CONTACT
          span.ja お問い合わせ
        .content-inner--m
          .contact-link
            p.contact-link__lead.t-center
              span 当サイトに関する
              span ご意見・ご感想<br>その他、お問い合わせなど<br>お気軽にご連絡ください！
            .contact-link__button.button-container
              a(href='/contact/')


  //- footer
  .footer-wrapper#footerWrapper
    include /_includes/_footer

block append script
//- JSを最後に追加する場合は block append script
//- JSのパスを変更する場合は block script

