extends /_includes/_layout.pug

block head_meta
  title #{baseTitle}
  meta(name='description' content=baseDescription)

block prepend css
//- CSSを最後に追加する場合は block append css
//- CSSをパスを変更する場合は block css

block prepend head_script

block content
  - var imgSrc = `${imgPath}/index`

    header.header#siteHeader
      include /_includes/_header

    main.page-index
      .mv__wrapper
        .mv__inner
          .mv__image
            picture
              source(media=`${mqSm}` srcset=`${imgSrc}/mv_sp.jpg`)
              img(src=`${imgSrc}/mv_pc.jpg`).object-fit-img
          .mv__ttl
            h2 !{ttl}

      article.content__wrapper


    //- footer
    .footer-wrapper#footerWrapper
      include /_includes/_footer

block append script
//- JSを最後に追加する場合は block append script
//- JSのパスを変更する場合は block script
