//- components.pug

//-
//- head
//-
mixin sectionHeadSideImg(ttl, sub, img)
  .section__ttl-head.-side-image
    .head-ttl
      .head-ttl__inner
        h3.ttl-border-bottom !{ttl}
    .head-image
      figure
        picture
          source(media=`${mqMd}` srcset=`${imgSrc}/${img}_sp.jpg`)
          img(src=`${imgSrc}/${img}_01_pc.jpg`)

