//- general
-
  var siteDomain = ''
  var siteName = 'Smart House Readers'
  var themeColor = '#09347B'
  var baseDir = ''
  var baseName = ` | ${siteName}`
  var assets = '/assets'
  var imgPath = `${baseDir}${assets}/img`
  var cssPath = `${baseDir}${assets}/css`
  var pluginsStylePath = `${cssPath}/plugins`
  var jsPath = `${baseDir}${assets}/js`
  var pluginsPath = `${jsPath}/plugins`
  var pdfPath = `${baseDir}${assets}/pdf`

//- plugins
-
  var googleFonts = [
    'Sacramento',
    'Merriweather'
  ]

//- media query
-
  var mqSm = '(max-width: 575px)'
  var mqMd = '(max-width: 768px)'
  var mqLg = '(max-width: 991px)'

//- image Paths
-
  var imgPathCommon = `${imgPath}/common`

//- urls パラメータがある場合はこちらに


//- head
-
  var baseTitle = ''
  var baseDescription = ''
  var favicon = `${imgPath}/favicon.ico`

//- header


//- footer
-
  var copyright = 'Copyright © Naoki Yoshikawa'

