//- general
-
  var siteDomain = ''
  var siteName = 'Smart House Readers'
  var themeColor = '#09347B'
  var baseDir = ''
  var baseName = ` | ${siteName}`
  var assets = '/assets'
  var imgPath = `${baseDir}${assets}/img`
  var cssPath = `${baseDir}${assets}/css`
  var pluginsStylePath = `${cssPath}/plugins`
  var jsPath = `${baseDir}${assets}/js`
  var pluginsPath = `${jsPath}/plugins`
  var pdfPath = `${baseDir}${assets}/pdf`

//- media query
-
  var mqSm = '(max-width: 575px)'
  var mqMd = '(max-width: 768px)'
  var mqLg = '(max-width: 991px)'

//- image Paths
-
  var imgPathCommon = `${imgPath}/common`

//- urls パラメータがある場合はこちらに


//- head
-
  var baseTitle = '株式会社 髙廣製本'
  var baseDescription = '住宅建築商材とエネルギー機器専門誌『月刊スマートハウス』は、未来の住宅に必要不可欠なエネルギー機器やZEH住宅に関する情報を発信している唯一の業界専門紙です。毎月20日発刊。年間購読もお申込み頂けます。'
  var favicon = `${imgPath}/favicon.ico`

//- header


//- footer
-
  var copyright = 'COPYRIGHT © TAKAHIRO BOOKBINDING , CO.'

