//- header.pug

-
  var headerLink = [
    {
      txt: 'ABOUT',
      page: '/about/'
    },
    {
      txt: 'WORKS',
      page: '/works/archive/'
    },
    {
      txt: 'BLOG',
      page: '/',
      blank: true
    },
    {
      txt: 'CONTACT',
      page: '/contact/',
      class: true
    }
  ]

.header__inner
  .header-info
    .header-info__bar
      h1.header-info__logo
        a(href='/') COMPANY NAME

      .header-info__nav-trigger.hidden-md-up
        button.nav-trigger#spNavTrigger
          span
          span
          span

    .header-info__nav__wrapper
      nav.header-info__nav
        ul.header-info__nav__list
          each val in headerLink
            li
              if val.blank
                a(href=`${val.page}` target='_blank')
                  span !{val.txt}
              else if val.class
                a.btn-primary(href=`${val.page}`)
                  span !{val.txt}
              else
                a(href=`${val.page}`)
                  span !{val.txt}



