//- header.pug

-
  var headerLink = [
    {
      txt: 'ABOUT',
      page: '/about/'
    },
    {
      txt: 'WORKS',
      page: '/works/archive/'
    },
    {
      txt: 'BLOG',
      page: '/',
      blank: true
    },
    {
      txt: 'CONTACT',
      page: '/contact/',
      class: true
    }
  ]

.header__inner
  .header__info__wrap
    .header__info__bar
      h1.header__logo
        a(href='/')
          img(src=`${imgPathCommon}/logo_primary.png` alt='株式会社 髙廣製本')

      .header__nav__trigger.hidden-sm-up
        button.header-trigger#spNavTrigger
          span
          span
          span

  .header__nav
    nav
      ul.header__nav__list.nav-primary#headerNavPrimary
        each val in headerLink
          li
            a.btn-white-primary(href=val.page) !{val.txt}
            if val.child
              ul.nav-secondary
                each c in val.child
                  li
                    a.btn-white-primary(href=c.page) !{c.txt}

